{% extends 'base.html' %}

{% block title %}
    {{ blog_content.title }}
{% endblock %}

{% block content %}
    <section class="position-fixed bottom-0 bg-black bg-opacity-50 shadow-lg"
         style="height: 90vh; z-index: 10; left: 0; right: 0;">
        <div class="row py-lg-5 h-100 overflow-y-auto">
            <div class="col-12 px-5">
                <h1 class="fw-light fw-semibold">{{ blog_content.title }}</h1>
                <p class="lead text-body-secondary text-black">
                    {{ blog_content.body | safe }}
                </p>
            </div>
        </div>
    </section>

{% endblock %}