{% extends 'base.html' %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}
    <div class="container col-lg-8 col-xl-6 px-3 py-3">
        <div class="row align-items-center g-4 py-3">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="h2 fw-bold mb-2">Registrate</h1>
                <p class="fs-6 ">
                    Pequeños posts, gran diseño. Documentá, compartí y escalá tu contenido.
                </p>
            </div>

            <div class="col-md-10 mx-auto col-lg-6">
                <form class="p-3 border rounded-3 bg-light" method="POST" action="{{ url_for('blog.register') }}">
                    {{ form.hidden_tag() }}

                    <div class="form-floating mb-2">
                        {{ form.name(class="form-control", id="floatingName") }}
                        {{ form.name.label(for="floatingName") }}
                    </div>

                    <div class="form-floating mb-2">
                        {{ form.email(class="form-control", id="floatingEmail") }}
                        {{ form.email.label(for="floatingEmail") }}
                    </div>

                    <div class="form-floating mb-2">
                        {{ form.password(class="form-control", id="floatingPassword") }}
                        {{ form.password.label(for="floatingPassword") }}
                    </div>

                    {{ form.submit(class="w-100 btn btn-sm btn-primary", type="submit") }}

                    <hr class="my-3">
                    <small class="text-muted">Al hacer clic en "Sign up", aceptás los términos de uso.</small>
                </form>
            </div>
        </div>
    </div>
{% endblock %}